<!-- Inicio de sesion -->
<span class="text-center poppins-regular font-weight-bold">Inicio de sesión</span>
<form class="full-box" action="">
    <div class="form-outline mb-4">
        <input type="email" class="form-control" name="login_email_cliente" id="login_email" maxlength="70" required="" placeholder="Email" >
    </div>
    <div class="form-outline mb-4">
        <input type="password" class="form-control" name="login_clave_cliente" id="login_password" pattern="[a-zA-Z0-9$@.-]{7,100}" maxlength="100" required="" placeholder="Contraseña" >
    </div>
    <p class="text-center">
        <button class="btn btn-info btn-sm w-100">Iniciar sesión</button>
    </p>
</form>
<hr>
<p class="text-center full-box">¿No tienes cuenta? <a href="register">Regístrate aquí</a></p>

