<!-- Header -->
<header class="header full-box">
    <div class="header-brand text-center full-box">
        <a href="index.html">
            <img src="./assets/img/logo.png" alt="logo" class="img-fluid">
        </a>
    </div>

    <div class="header-options full-box">
        <nav class="header-navbar full-box poppins-regular font-weight-bold" >
            <ul class="list-unstyled full-box">
                <li>
                    <a href="index.html" >Inicio<span class="full-box" ></span></a>
                </li>
                <li>
                    <a href="menu.html" >Menú<span class="full-box" ></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-button full-box text-center btn-login-menu" >
            <i class="fas fa-user-alt" onclick="show_popup_login()" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Login" ></i>
            <div class="div-bordered popup-login">
                <app-login></app-login>
            </div>
        </div>
        <a href="bag.html" class="header-button full-box text-center" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Carrito" >
            <i class="fas fa-shopping-bag"></i>
            <span class="badge bg-warning rounded-pill bag-count" >2</span>
        </a>
    </div>
</header>

