<!-- Content -->
<div class="banner">
    <div class="banner-body">
        <h3 class="text-uppercase">Bienvenido a RESTAURANTE</h3>
        <p>Los mejores platillos y la mejor calidad los encuentras en RESTAURANTE</p>
        <a href="menu.html" class="btn btn-warning"><i class="fas fa-hamburger fa-fw"></i> &nbsp; Ir al menu</a>
    </div>
</div>

<div class="container container-web-page">
    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h3>
    <br>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-shipping-fast fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Envíos a domicilio</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-utensils fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Ventas al por mayor</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-store-alt fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Reservaciones de local</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid container-web-page">
    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros platillos más populares</h3>
    <div class="container-cards full-box">

        <div class="card shadow-1-strong">
            <img class="card-img-top" src="./assets/platillos/platillo.jpg" alt="nombre_platillo">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Nombre o titulo del platillo</h5>
                <p class="card-text lead"><span class="badge bg-secondary">$25.00 USD</span></p>
            </div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-success btn-sm"><i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Agregar</button>
                &nbsp; &nbsp;
                <a href="details.html" class="btn btn-info btn-sm"><i class="fas fa-utensils fa-fw"></i> &nbsp; Detalles</a>
            </div>
        </div>

        <div class="card shadow-1-strong">
            <img class="card-img-top" src="./assets/img/img_not_found.jpg" alt="nombre_platillo">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Nombre o titulo del platillo</h5>
                <p class="card-text lead"><span class="badge bg-secondary">$25.00 USD</span></p>
            </div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-success btn-sm"><i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Agregar</button>
                &nbsp; &nbsp;
                <a href="details.html" class="btn btn-info btn-sm"><i class="fas fa-utensils fa-fw"></i> &nbsp; Detalles</a>
            </div>
        </div>

        <div class="card shadow-1-strong">
            <img class="card-img-top" src="./assets/platillos/platillo.jpg" alt="nombre_platillo">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Nombre o titulo del platillo</h5>
                <p class="card-text lead"><span class="badge bg-secondary">$25.00 USD</span></p>
            </div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-success btn-sm"><i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Agregar</button>
                &nbsp; &nbsp;
                <a href="details.html" class="btn btn-info btn-sm"><i class="fas fa-utensils fa-fw"></i> &nbsp; Detalles</a>
            </div>
        </div>

    </div>
    <br>
    <p class="text-center"><a href="menu.html" class="btn btn-primary"><i class="fas fa-hamburger fa-fw"></i> &nbsp; Ir al menu</a></p>
</div>

<hr>

<div class="container container-web-page">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6">
            <figure class="full-box">
                <img src="./assets/img/registration.png" alt="registration" class="img-fluid">
            </figure>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6">
            <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Crea tu cuenta</h3>
            <p class="text-justify">
                Crea tu cuenta para poder realizar pedidos de platillos hasta la puesta de tu casa, es muy fácil y rápido.
            </p>
            <p class="text-center">
                <a href="register" class="btn btn-primary" >Crear cuenta</a>
            </p>
        </div>
    </div>
</div>
